*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 12px;
  box-sizing: border-box;
  color: #333;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

body:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  color: rgb(65, 56, 68);
  background-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff);
}

main {
  padding: 1rem;
}

.built {
  display: block;
  margin: 0 0 20px 0;
}

.columns {
  margin: 0 0 0 1rem 0;
  padding: 0;
  display: flex;
}

.columns li {
  margin: 0 10px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.columns li button {
  background: transparent;
  border: 1px solid #dee2e6;
  border-radius: 3px;
  padding: 5px 10px 5px 25px;
  white-space: nowrap;
  position: relative;
}

.columns li button:before {
  content: "";
  display: block;
  background: #333;
  border-radius: 50%;
  border: 1px solid #333;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 13px;
  left: 10px;
}

.columns li button.hidden:before {
  background: none;
}

.columns li button:hover {
  cursor: pointer;
  color: #333;
  background: #dee2e6;
}

.columns li button.hidden:hover:before {
  background: #333;
}

.table {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
}

h6 {
  margin: 0 0 10px;
  font-size: 14px;
  font-weight: bold;
}

header {
  padding: 25px 40px 15px;
  border-bottom: 1px solid rgba(134, 131, 131, 0.2);
}

a,
a:active,
a:hover {
  text-decoration: none;
  font-weight: bold;
  line-height: 100%;
  color: rgb(65, 56, 68);
}

header a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  display: block;
}

header a span {
  margin: 0 15px 0 0;
}

table {
  font-size: inherit;
}

table tr th,
table tr td {
  text-align: center;
}

.table-bordered thead td,
.table-bordered thead th {
  border-bottom-width: 1px;
  border-top: 0;
}

.table td,
.table th {
  padding: 6px 12px;
}

.table .sorting::after,
.table .sorting::before {
  line-height: 10px;
}

table tr td span {
  /* background: #333; */
  color: white;
  padding: 8px 0;
  border-radius: 3px;
  width: 100%;
  display: block;
  line-height: 100%;
}

table tr td {
  vertical-align: middle !important;
}

.license {
  font-weight: bold;
}

.status {
  text-transform: capitalize;
}

/* line with highlight area */
.sparkline {
  stroke: #333;
  fill: #333;
}

/* change the spot color */
.sparkline--spot {
  stroke: #ff0000;
  fill: #ff0000;
}

/* change the cursor color */
.sparkline--cursor {
  stroke: #ff0000;
}

/* style fill area and line colors using specific class name */
.sparkline--fill {
  fill: #dee2e6;
}

.sparkline--line {
  stroke: #333;
}

table.table-bordered.dataTable th {
  white-space: pre;
}

.badge-dt {
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  padding: 8px 12px;
  min-width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
}

.badge-warning {
  color: white;
}

div.dt-button-collection .dt-button {
  color: #333;
  padding: 6px 12px;
}

div.dt-button-collection .dt-button i {
  color: transparent;
}

div.dt-button-collection .dt-button.active i {
  color: inherit;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: inherit;
}

#DataTables_Table_0_filter {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}

.trendline-container {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 100px;
  margin: 0 auto;
}

.trendline-data {
  position: absolute;
  visibility: hidden;
  left: -100px;
  top: -6px;
  width: 100px;
  height: 52px;
  border: 1px solid transparent;
  padding: 8px 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.trendline-data span {
  padding: 0;
  text-align: left;
}

.trendline-data.active {
  visibility: visible;
  border-color: #c6cbd1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.trendline-data.active span {
  color: inherit;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f6f8fa;
}

.trendline-date {
  font-weight: bold;
  font-size: 10px;
  margin-bottom: 2px;
}

.trendline-value {
  font-weight: bold;
  font-size: 10px;
}

.project {
  white-space: nowrap;
}

.text-primary {
  display: inline-block;
  margin: 0 10px 0 0;
}

.icon-npm,
.icon-github {
  display: inline-block;
  float: right;
  margin: 0 3px 0 3px;
}

.icon-npm svg,
.icon-github svg {
  width: 16px;
  fill: #333;
}

.btn-secondary {
  background: #efefef;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
}
